/* === RESET === */

* {margin: 0; padding: 0;} /* Make things 'snap' */
/*
* {border: 1px solid lime;}
*/

/* === PAGE === */

body {
	max-height: 100%;

	/* Cover up for short NAV Element */
	/* Feedback> */
	background-color: #000000;
}


/* === HEADER === */

header {
	background-color: #000000;
	color: #FF0000;
	border-bottom: 5px solid #FF0000;
}

header h1,
header h2 {
	text-align: center;
	margin: 0 auto;
}

header h1 {
	font-family: Impact;
}

header h2 {
	font-style: italic;
}

#fe-mail {
	font-family: "Rage Italic";
	color: #FFAAAA;
}
#he-mail {color: #AAAAFF;}

/* === NAVIGATION === */

nav {
	float: left; 
	
	width:20%;
}

nav ul {
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	font-family: "Arial Black";
	background-color: #000000;
}

nav a {
	display: inline-block;
	width: 100%;
	text-decoration: none;
}

nav a:link,
nav a:visited {
	color: #FF0000;
}

nav a:hover,
nav a:active {
		color: #FFFFFF;
}

nav li {
	width: 100%;
}

#inbox {
	background-color: #FF0000;
	color: #000000;
}

#inbox:hover {color: #FFFFFF;}
/* === MAIN CONTENT (EMAILS) === */

main {
	float: right;
	background-color: #000000;
	color: #FFFFFF;
	width: 80%;

	border-left: 5px solid #FF0000;
	margin-left: -5px;
}

.legend ul {
	width: 100%;
	text-align: left;
	border-bottom: 2px solid #FF0000;
	padding: 2px 0;
	color: #FF0000;
}

.legend li {
	display:inline-block;
	width: 33.3%;
	text-align: left;
	border-left: 1px solid red;
	margin-left: -1px;
}

.legend li:first-child {
		border-left: none;
		margin-left: none;
}

/* Email Listing */

.email {border-bottom: 1px solid red;}
.email:last-child {border-bottom: none;}
.email ul {
	width: 100%;
	text-align: left;
	font-size: 1.2em;
	cursor: pointer;
}

.email ul:hover{color: #FF0000;}

.email li {
	display:inline-block;
	width: 33.3%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.unread {font-weight: bold;}
.read {font-weight: initial;}

.body {
	display: none;
	border-top: 1px dotted #FF0000;
	font-size: 0.8em;
	font-family: "Courier New";
}

/* === FOOTER === */

footer {
	color: #0000AA;
	border-top: 5px solid #FF0000;
	text-align: right;
	font-size: 1.5em;
	font-family: "Gill Sans MT Condensed";
}

/* === OTHER === */


.group:after {
  content: "";
  display: table;
  clear: both;
}